<!doctype html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>View Reports</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 
  <style>
  #feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
  input{width:99.2%;}
  td{padding:0 0 0 0;}

.ui-selectmenu-button.ui-button {
    width: 6em;
}

  </style>

</head>
<body style=" background-image: url('{% static 'test/red.png' %}')">

<li>Case ID: {{testcase}} </li>
<li>Case Name: {{testcase}} </li>
<li>Case Summary: {{testcase}} </li>
 

 
<ol id="selectable">

{% if result %}
	{% for row in result %}
	
	<table  border="1" style="border-collapse: collapse;" cellspacing="0"> 
    <tr>
      <td>Report Id: {% csrf_token %}</td><td colspan="3"><input  id="cid" type="text" name="caseId" readonly="readonly"> {{row.caseId}}</td>
    </tr>

    <tr>
      <td>Caller's Name(<u><a href="#" onclick="writeSummary()">edit</a></u>)</td><td colspan="3"><textarea id="summary" name="caseSum" rows="5" name="happened" readonly="readonly" style="resize: none;padding:0 0 0 0; margin:0 0 0 0;" cols="50">{{row.summary}}</textarea></td>
    </tr>

     <tr>
      <td>Report Name (<u><a href="#" onclick="writeCaseName()">edit</a></u>)</td><td colspan="3"><input id="cname" type="text" name="caseName" readonly="readonly">{{row.caseName}}</td>
    </tr>
  </table>
  <button onclick="viewReport({{row.caseNumber}})">View Report</button>
  
	{% endfor %}
{% endif %}


  
</ol>
 
 


</body>
</html>