<!doctype html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>View Reports</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 
  <style>
  #feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
  input{width:99.2%;}
  td{padding:0 0 0 0;}

.ui-selectmenu-button.ui-button {
    width: 6em;
}

  </style>

</head>
<body style=" background-image: url('{% static 'test/red.png' %}')">

<button onclick="back()">Exit to Menu</button>
<li>Case ID: {{case.0.caseId}} </li>
<li>Case Name: {{case.0.caseName}} </li>
<li>Case Summary: {{case.0.summary}} </li>
<form action="{{cmoAPI.cmoAPI}}" method='POST'>
	<p><span>CMO API (go json file to edit):
			</span> 
		<span><input type="text" value="{{cmoAPI.cmoAPI}}" name="file" required> 
			</span></p>
	
	<input type="text" value="{{file}}" name="file" required style="display:none"> 
	<button>SendCase</button>
 </form>
<p id="feedback">
</p>
 
<ol id="selectable">

{% if result %}
	{% for row in result %}
	
	<table  border="1" style="border-collapse: collapse; width: 100%" cellspacing="0"> 
    <tr>
      <td style="width: 20%">Report Id: {% csrf_token %}</td><td style="width: 20%">{{row.reportId}}</td>
      <td style="width: 20%">Caller's Name</td><td style="width: 40%" colspan="2">{{row.callerName}}</textarea></td>
    </tr>

     <tr>
      <td style="width: 20%">Report Name </td><td colspan="3">{{row.incident}}</td>
    </tr>
  </table>
  <button onclick="viewReport({{row.caseId}})">View Report</button>
  
	{% endfor %}
{% endif %}


  
</ol>
 
 
</div>


</body>
</html>