{% load static %} 
<!DOCTYPE html>
<html lang="en" class=""><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  
<head>
	<title>Cyberdyne911</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"> 
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
	body  {
    background: url("/static/css/background1.jpg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
    }
	
	.center{
	width:300px;
	font-family:"Bahnschrift Light";
	margin: auto;
	}
	
	a.{
	text-align:center}
	
	#f1{color:red;font-family:"agency fb";text-align: center;}
	#f2{color:blue;top:45px;line-height:0px; font-size:27px;font-family:"century gothic";text-align: center;}
	div.a{line-height:0px}
	
	</style>
</head>
  
<body>

<div class="a">

<h1 id = "f1">
CYBERDYNE CALL CENTRE

</h1>
<br />


<h1 id = "f2">
you know who to call

<h1>


</div>

	<div class="center">
		
		<ul>
		
		 
		  <br />
		  <br />
	<div class="left">
		  <h3>Server Details:</h3>
		  
  <p><span>
			Server host:&nbsp; {{host}} {% csrf_token %}
			</span> 
		<span>
	</span></p>
	
	<p><span>
			Server port:&nbsp; {{port}} {% csrf_token %}
			</span> 
		<span>
	</span></p>
  
  <p><span>
			Server database:&nbsp; {{database}} {% csrf_token %}
		</span>
	</span></p>
  
  <p><span>
			Server username:&nbsp; {{user}}{% csrf_token %}
		</span> 
		<span>
	</span></p>
	
  <p><span>
			Server Password:&nbsp; {{password}}
		</span> <span>
	</span></p>
		<form action="server_config.html'" method="get">
			<button class="btn btn-warning">
				EDIT SERVER SETTINGS
			</button>
		</form>
	<br />
	</div>
		<form action="system911/login/" method="POST">
		  <p><span>USERNAME:&nbsp; {% csrf_token %}
			</span> 
				<span>
				<input type="text" placeholder="Enter Username" name="username" required> 
			</span></p>
			
		  <p><span>
					PASSWORD:&nbsp; 
				</span> <span>
			<input type="password" placeholder="Enter Password" name="password" required>
			</span></p>
		  <p>
			<button class="btn btn-primary">
				LOGIN 
			</button></p>
			
		</form>
		
		</ul>
	</div>

</body>
</html>
