<!doctype html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>View Cases</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <style>

  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
  input{width:99.2%;}
  td{padding:0 0 0 0;}
   .ui-tabs-vertical { width: 55em; }
  .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
  .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
  .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
  .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
  .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}
  .ui-selectmenu-button.ui-button {
      width: 6em;
  }

  .left{
    width:20%;
    height:100%;
    border-style:solid;
    float:right;
    border-collapse: collapse;
    border-color: blue;
  }
  .right{
    height:100%;
    width:79%;
    float:left;
    border-style:solid;
    border-collapse: collapse;
    border-color: red;
  }

  .sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }

  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script>
    var selectedCaseId, caseIdToChange =-1, change = false;
    var selectedReportsToRemove=[];
    var $tabs;
{% block content %}


{% if nreports %}
var reportArrN = [
  {% for row in nreports %}
    ["{{row.reportId}}","{{row.caseId}}","{{row.incident}}","{{row.date}}","{{row.time}}","{{row.callerName}}","{{row.callerContact}}","{{row.location}}","{{row.whathappen}}","{{row.casualities}}", "{{row.dangers}}", "{{row.involvement}}", "{{row.typeOfEmergency}}", "{{row.severity}}"],
  {% endfor %}
  ];
{% endif %}


{% if result %}
var reportArr = [
  {% for row in result %}
	{% if result.caseId != 0 %}
		["{{row.reportId}}","{{row.caseId}}","{{row.incident}}","{{row.date}}","{{row.time}}","{{row.callerName}}","{{row.callerContact}}","{{row.location}}","{{row.whathappen}}","{{row.casualities}}", "{{row.dangers}}", "{{row.involvement}}", "{{row.typeOfEmergency}}", "{{row.severity}}"],
	{% endif %}
  {% endfor %}
  ];
{% endif %}

{% if cases %}

var caseArr = [
  {% for c in cases %}
  ["{{c.caseId}}", "{{c.summary}}", "{{c.caseName}}"],
  {% endfor %}
];

{% endif %}

{% endblock %}


 $( function() {
    $( "input" ).checkboxradio();
  } );


function back(){
  window.location = "http://127.0.0.1:8000/system911/menu.html";
}

function writeSummary(){
  caseIdToChange = selectedCaseId;
  change = true;
  document.getElementById('summary').readOnly = false;
}

function writeCaseName(){
  caseIdToChange = selectedCaseId;
  change = true;
  document.getElementById('cname').readOnly = false;
}

function w3_open() {
  document.getElementById("main").style.marginLeft = "15%";
  document.getElementById("mySidebar").style.width = "15%";
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("openNav").style.display = 'none';
}
function w3_close() {
  document.getElementById("main").style.marginLeft = "0%";
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("openNav").style.display = "inline-block";
}

function updateSeverity(id){
    var level = document.getElementById("levelSelect").value;
    var token =  document.getElementsByName("csrfmiddlewaretoken")[0].value;
    //alert(level+" "+token);
    $.ajaxSetup({
      beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRFToken', token);
      }
    });
    $.ajax({
       type: "POST",
       url: "../system911/updateReportByAjax/",
       contentType: "application/json; charset=utf-8",
       data:  JSON.stringify({ reportId: id, slevel: level}),
       dataType: "json",
       success: function (result) {
          if(result.message == "success"){
            alert("Successfully updated report");
          }
       },
       error: function(){
            alert('Error updating reports');
        }
    });
}

function display(id){
          selectedCaseId = id;
          var select1,select2,select3,select4,select5;
          document.getElementById("left").style.display = "block";
          var reportList = [];
          for(i=0;i<reportArr.length;i++){
            //alert(reportArr[i][1]+" == "+id);
            if(reportArr[i][1] ==id)
              reportList.push(reportArr[i][1]);
          }
          //alert(reportList);
          //var reportList = caseArr[i][2].split(",");
          var tabsContainer = document.getElementById("tabs");
          tabsContainer.innerHTML = "";
          var uList = document.createElement("ul"); 

          for(k = 0; k< reportArr.length; k++){
            if(reportArr[k][1] ==id){
              var li = document.createElement("li");
              li.innerHTML = '<a class="reportTabs" href="#tabs-'+(k+1)+'">'+reportArr[k][2]+'</a> <span onclick="remove(this,'+reportArr[k][0]+', '+reportArr[k][1]+')" class="ui-icon ui-icon-close">Remove Tab</span>';
              uList.appendChild(li);
            }
          }
          tabsContainer.appendChild(uList);
          for(j = 0; j< reportArr.length; j++){
            if(reportArr[j][1] ==id){
            var t1 = document.createElement("div");
            t1.id = "tabs-"+(j+1);
            
            if(reportArr[j][13]==1)
              select1="selected";
            else if(reportArr[j][13]==2)
              select2="selected";
            else if(reportArr[j][13]==3)
              select3="selected";
            else if(reportArr[j][13]==4)
              select4="selected";
            else if(reportArr[j][13]==5)
              select5="selected";


            t1.innerHTML ='<table border="1" style="border-collapse: collapse;" cellspacing="0">'+
    '<tr><input id="caseId" type="hidden"  name="cid" readonly="readonly">'+
      '<td>Incident: </td> <td colspan="3"> '+ reportArr[j][2]+'</td></tr>'+

     '<tr><td>Date Of Call: </td> <td>'+ reportArr[j][3]+' </td>'+
      '<td>Time of Call: </td><td> <input style="width:94.4%" type="time" id="currentTime" name="rtime" value='+ reportArr[j][4]+'  readonly="readonly"></td></td></tr>'+

    '<tr><td colspan="4">Caller Information:</td></tr><tr><td>Caller Name:</td><td colspan="3">'+ reportArr[j][5]+'</td></tr>'+

    '<tr><td>Caller Contact:</td><td colspan="3">'+ reportArr[j][6]+'</td></tr>'+

    '<tr><td>Location/Address:</td><td colspan="3">'+ reportArr[j][7]+'</td></tr>'+

    '<tr><td>What Happened:</td><td colspan="3"><textarea id="happen" rows="9" name="happened" value='+ reportArr[j][8] +' readonly="readonly" style="resize: none;padding:0 0 0 0; margin:0 0 0 0;" cols="50">'+ reportArr[j][8]+'</textarea></td></tr>'+

    '<tr><td>Casualties:</td><td colspan="3">'+ reportArr[j][9]+'</td></tr>'+

    '<tr><td>Hazards/Dangers:</td><td colspan="3">'+ reportArr[j][10]+'</td></tr>'+

    '<tr><td>Caller’s involvement:</td><td colspan="3">'+ reportArr[j][11]+'</td></tr>'+

    '<tr><td>Type of Emergency:</td><td colspan="3">'+ reportArr[j][12]+'</td></tr>'+
    '<tr><td>Severity Level:</td><td id="level" colspan="3">'+
      '<fieldset><label for="people">Severity Level:</label>'+

      '<select id="levelSelect" onload=" test()" name="severity">'+
        '<option value="1"'+select1+'>Level 1</option>'+
        '<option value="2"'+select2+'>Level 2</option>'+
        '<option value="3"'+select3+'>Level 3</option>'+
        '<option value="4"'+select4+'>Level 4</option>'+
        '<option value="5"'+select5+'>Level 5</option> '+
      '</select>'+
      '<input id="slevel" type="hidden" value="'+reportArr[j][13]+'">'+
'<button style="position:relative;float:right;" onclick="updateSeverity('+reportArr[j][0]+')" >Update</button>'+
 '</fieldset></td><td>';
            tabsContainer.appendChild(t1);
}
          }

      for(i=0;i<caseArr.length;i++){
            //alert(reportArr[i][1]+" == "+id);
            if(caseArr[i][0] ==id){
              document.getElementById("summary").value =caseArr[i][1];
              document.getElementsByName("caseName")[0].value = caseArr[i][2];
              break;
            }
          }
     
      $("#tabs").tabs().tabs("destroy");
       $tabs  = $( "#tabs" ).tabs();
      document.getElementById("caseDetail").style.display = "block";
      document.getElementById("levelSelect").value = reportArr[j][13];
      alert("ok");
      //alert(document.getElementById("levelSelect").value);



}

function save(){
  if(caseIdToChange != -1 && change==true){
    var summary = document.getElementById("summary").value;
    var cName = document.getElementsByName("caseName")[0].value;
    var token =  document.getElementsByName("csrfmiddlewaretoken")[0].value;
     $.ajaxSetup({
      beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRFToken', token);
      }
    });
    $.ajax({
       type: "POST",
       url: "../system911/editCase",
       contentType: "application/json; charset=utf-8",
       data:  JSON.stringify({ caseId: caseIdToChange, reportId: selectedReportsToRemove, summary: summary, cName: cName}),
       dataType: "json",
       success: function (result) {
        if(result.message == "success"){
            alert("Successfully added new reports");
            //selectedCaseId=0;
            change = false;
            selectedReportsToRemove=[];
            caseArr = Array(result.cases.length).fill(null).map(()=>Array(3).fill(null)), reportArr= Array(result.reports.length).fill(null).map(()=>Array(14).fill(null)), reportArrN = Array(result.nreports.length).fill(null).map(()=>Array(14).fill(null));

            
            //alert(result.cases[0].caseId);
            for(var i=0;i<result.cases.length;i++){
              caseArr[i][0] = result.cases[i].caseId;
              caseArr[i][1] = result.cases[i].summary;
              caseArr[i][2] = result.cases[i].caseName;
              //alert(caseArr[i][0]); 
            }
             
            for(var i=0;i<result.reports.length;i++){
              reportArr[i][0] = result.reports[i].reportId;
              reportArr[i][1] = result.reports[i].caseId;
              reportArr[i][2] = result.reports[i].incident;
              reportArr[i][3] = result.reports[i].date;
              reportArr[i][4] = result.reports[i].time;
              reportArr[i][5] = result.reports[i].callerName;
              reportArr[i][6] = result.reports[i].callerContact;
              reportArr[i][7] = result.reports[i].location;
              reportArr[i][8] = result.reports[i].whathappen;
              reportArr[i][9] = result.reports[i].casualities;
              reportArr[i][10] = result.reports[i].dangers;
              reportArr[i][11] = result.reports[i].involvement;
              reportArr[i][12] = result.reports[i].typeOfEmergency;
              reportArr[i][13] = result.reports[i].severity;
            }
            var html = "";
            for(var i=0;i<result.nreports.length;i++){

              reportArrN[i][0] = result.nreports[i].reportId;
              reportArrN[i][1] = result.nreports[i].caseId;
              reportArrN[i][2] = result.nreports[i].incident;
              reportArrN[i][3] = result.nreports[i].date;
              reportArrN[i][4] = result.nreports[i].time;
              reportArrN[i][5] = result.nreports[i].callerName;
              reportArrN[i][6] = result.nreports[i].callerContact;
              reportArrN[i][7] = result.nreports[i].location;
              reportArrN[i][8] = result.nreports[i].whathappen;
              reportArrN[i][9] = result.nreports[i].casualities;
              reportArrN[i][10] = result.nreports[i].dangers;
              reportArrN[i][11] = result.nreports[i].involvement;
              reportArrN[i][12] = result.nreports[i].typeOfEmergency;
              reportArrN[i][13] = result.nreports[i].severity;

              html = html+
              '<li style="margin: 5px 0;">'+
                '<label for="checkbox-nested-'+result.nreports[i].reportId+'">'+result.nreports[i].incident+
                  '<input type="checkbox" class="addr" value="'+result.nreports[i].reportId+'" name="checkbox-nested-1" id="checkbox-nested-'+result.nreports[i].reportId+'">'+
               '</label>'+
              '</li>';


            }
            display(selectedCaseId);
            document.getElementById("reportList").innerHTML=html;
            $( "input" ).checkboxradio();
        }
       },
       error: function(){
            alert('Error adding new reports');
        }
    });
  }

}


function remove(obj,reportid, caseid){
        caseIdToChange = caseid;
        selectedReportsToRemove.push(reportid);
        change = true;
        //(caseid);
 // $('#tabs span.ui-icon-close').live('click', function() {
        var index = $('li',$tabs).index($(obj).parent());
        $tabs.find( ".ui-tabs-nav li:eq("+index+")" ).remove();
        $tabs.tabs( "refresh" );
        if(document.getElementsByClassName("reportTabs").length<=0)
          //$("#tabs").tabs().tabs("destroy");
          document.getElementById("tabs").innerHTML="";
        //$tabs.tabs('remove', index);
    //});
}


  function addreport(){
    var reports = (function() {
                var a = [];
                $(".addr:checked").each(function() {
                    a.push(this.value);
                });
                return a;
            })()

    //alert(values);
   var token =  document.getElementsByName("csrfmiddlewaretoken")[0].value;
      //alert(reports);
     $.ajaxSetup({
      beforeSend: function(xhr) {
          xhr.setRequestHeader('X-CSRFToken', token);
      }
    });
    $.ajax({
       type: "POST",
       url: "../system911/addReportsToCase",
       contentType: "application/json; charset=utf-8",
       data:  JSON.stringify({ selectedReports: reports, caseid: selectedCaseId}),
       dataType: "json",
       success: function (result) {
        if(result.message == "success"){
            alert("Successfully added new reports");
            reportArr= Array(result.reports.length).fill(null).map(()=>Array(14).fill(null)), reportArrN = Array(result.nreports.length).fill(null).map(()=>Array(14).fill(null));
            for(var i=0;i<result.reports.length;i++){
              reportArr[i][0] = result.reports[i].reportId;
              reportArr[i][1] = result.reports[i].caseId;
              reportArr[i][2] = result.reports[i].incident;
              reportArr[i][3] = result.reports[i].date;
              reportArr[i][4] = result.reports[i].time;
              reportArr[i][5] = result.reports[i].callerName;
              reportArr[i][6] = result.reports[i].callerContact;
              reportArr[i][7] = result.reports[i].location;
              reportArr[i][8] = result.reports[i].whathappen;
              reportArr[i][9] = result.reports[i].casualities;
              reportArr[i][10] = result.reports[i].dangers;
              reportArr[i][11] = result.reports[i].involvement;
              reportArr[i][12] = result.reports[i].typeOfEmergency;
              reportArr[i][13] = result.reports[i].severity;
            }
            var html = "";
            for(var i=0;i<result.nreports.length;i++){

              reportArrN[i][0] = result.nreports[i].reportId;
              reportArrN[i][1] = result.nreports[i].caseId;
              reportArrN[i][2] = result.nreports[i].incident;
              reportArrN[i][3] = result.nreports[i].date;
              reportArrN[i][4] = result.nreports[i].time;
              reportArrN[i][5] = result.nreports[i].callerName;
              reportArrN[i][6] = result.nreports[i].callerContact;
              reportArrN[i][7] = result.nreports[i].location;
              reportArrN[i][8] = result.nreports[i].whathappen;
              reportArrN[i][9] = result.nreports[i].casualities;
              reportArrN[i][10] = result.nreports[i].dangers;
              reportArrN[i][11] = result.nreports[i].involvement;
              reportArrN[i][12] = result.nreports[i].typeOfEmergency;
              reportArrN[i][13] = result.nreports[i].severity;

              html = html+
              '<li style="margin: 5px 0;">'+
                '<label for="checkbox-nested-'+result.nreports[i].reportId+'">'+result.nreports[i].incident+
                  '<input type="checkbox" class="addr" value="'+result.nreports[i].reportId+'" name="checkbox-nested-1" id="checkbox-nested-'+result.nreports[i].reportId+'">'+
               '</label>'+
              '</li>';


            }
            display(selectedCaseId);
            document.getElementById("reportList").innerHTML=html;
            $( "input" ).checkboxradio();
            //location.reload();
        }
       },
       error: function(){
            alert('Error adding new reports');
        }
    });

  }


  </script>
</head>
<body style="border:red"><!-- style=" background-image: url('{% static 'test/red.png' %}')"> -->



<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large"
  onclick="w3_close()">Close &times;</button>


  

{% if cases %}
  {% for c in cases %}
    <a href="#" class="w3-bar-item w3-button" onclick="display('{{c.caseId}}')">
    <h3 style="margin:0 0 0 0;">{{c.caseName}}</h3>
    <p style="font-size:15px;margin:0 0 0 0;">{{c.summary}}</p>
    </a>
  {% endfor %}
{% endif %}
<!--   <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a> -->
</div>
  <div id="main">
  <div class="w3-orange">
  <button id="openNav" class="w3-button w3-orange w3-xlarge" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>Edit Case</h1> 
   <!--<button onclick="back()">Exit to Menu</button> -->
  </div>
</div>
  <!-- <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a> -->

 <!-- <button onclick="back()">Exit to Menu</button> -->
<div id="left" style="display:none" class="left">
  <fieldset>
    <legend >Reports</legend>
<ul id="reportList" style="list-style-type: none;padding: 0;">
{% if nreports %}
  {% for nr in nreports %}
  <li style="margin: 5px 0;">
    <label for="checkbox-nested-{{nr.reportId}}">{{nr.incident}}
      <input type="checkbox" class="addr" value="{{nr.reportId}}" name="checkbox-nested-1" id="checkbox-nested-{{nr.reportId}}">
    </label>
  </li>
  {% endfor %}
{% endif %}

    
<!--       <label for="checkbox-nested-2">2 Queen
      <input type="checkbox" name="checkbox-nested-2" id="checkbox-nested-2">
    </label>
    <label for="checkbox-nested-3">1 Queen
      <input type="checkbox" name="checkbox-nested-3" id="checkbox-nested-3">
    </label>
    <label for="checkbox-nested-4">1 King
      <input type="checkbox" name="checkbox-nested-4" id="checkbox-nested-4">
    </label> -->
  </ul>
  </fieldset>
  {% csrf_token %}
<!--   <button onclick="add()">Exit to Menu</button>
 -->  <button onclick="addreport()">Add Reports</button>
</div>

<div class="right">
  <button onclick ="save()">Save Changes</button>

<div id="tabs">

</div>

<div id="caseDetail" style="display: none;">
  <form id="csv_form" action="updateCase/" method="POST">
    <table  border="1" style="border-collapse: collapse;" cellspacing="0"> 
<!--       <tr>
        <td>Case Id: </td><td colspan="3"><input  id="cid" type="text" name="caseId" readonly="readonly"></td>
      </tr> -->

      <tr>
        <td>Case Summary {% csrf_token %}(<u><a href="#" onclick="writeSummary()">edit</a></u>)</td><td colspan="3"><textarea id="summary" name="caseSum" rows="5" name="cSummary" readonly="readonly" style="resize: none;padding:0 0 0 0; margin:0 0 0 0;" cols="50"></textarea></td>
      </tr>

       <tr>
        <td>Case Name (<u><a href="#" onclick="writeCaseName()">edit</a></u>)</td><td colspan="3"><input id="cname" type="text" name="caseName" readonly="readonly"></td>
      </tr>
    </table>
  </form>
</div>
</div>
</div>

<!-- <form id="csv_form" action="updateReport/" method="POST">
  <div class="container">
    
   <table  border="1" style="border-collapse: collapse;" cellspacing="0"> 
      <tr>
        <input id="caseId" type="hidden"  name="cid" readonly="readonly">
        <td>Incident:{% csrf_token %} </td> <td colspan="3"> <input id="inc" type="text"  placeholder="Type of Incident" name="incident" readonly="readonly"></td>
      </tr>
       <tr>
        <td>Date Of Call: </td> <td><input style="width:98.5%" id="date" type="text"  name="rdate"  readonly="readonly"></td>
        <td>Time of Call: </td><td> <input style="width:94.4%" type="time" id="currentTime" name="rtime"  readonly="readonly"></td></td>
      </tr>

      <tr><td colspan="4">Caller Information:</td></tr>

      <tr><td>Caller's Name:</td><td colspan="3"><input id="cname" type="text" name="callerName" readonly="readonly"></td>
      </tr>

      <tr><td>Caller's Contact:</td><td colspan="3"><input id="cContact" type="text" name="callerContact" readonly="readonly"></td>
      </tr>

      <tr><td>Location/Address:</td><td colspan="3"><input id="address" type="text" name="location" readonly="readonly"></td>
      </tr>

      <tr><td>What Happened:</td><td colspan="3"><textarea id="happen" rows="9" name="happened" readonly="readonly" style="resize: none;padding:0 0 0 0; margin:0 0 0 0;" cols="50"></textarea></td>
      </tr>

      <tr><td>Casualties:</td><td colspan="3"><input id="cas" type="text" name="casualties" readonly="readonly"></td>
      </tr>

      <tr><td>Hazards/Dangers:</td><td colspan="3"><input id="danger" type="text" name="danger" readonly="readonly"></td>
      </tr>

      <tr><td>Caller’s involvement:</td><td colspan="3"><input id="involve" type="text" name="involve" readonly="readonly"></td>
      </tr>

      <tr><td>Type of Emergency:</td><td colspan="3"><input id="eType" type="text" name="emergencyType" readonly="readonly"></td>
      </tr>

    </table>

      <fieldset>
    <label for="people">Severity Level:</label>

      <select id="level" name="severity">
        <option value="1" >Level 1</option>
        <option value="2" ">Level 2</option>
        <option value="3">Level 3</option>
        <option value="4">Level 4</option>
        <option value="5">Level 5</option> 
      </select>

  </fieldset>

  </div>
</form> -->

</div>


</body>
</html>