{% load static %}
<!DOCTYPE html>
<html lang="en" class=""><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  
<head>
	<title>cyberdyne911</title>
	  
	<style>
	.centralise{
	  font-family:avenida-w01,avenida-w02,fantasy;
	  background-color: white;
	  position:absolute;
	  top:20%;
	  width:100%;
	  height:40%;
	  text-align:center;
	}

	input{
	  border-style: solid;
	}

	</style>
  
</head>
  
<body  style="background-color:black">
	<div class="centralise">
		
		<ul style="list-style-type:none;text-align:left;margin-left:35%;">
		  <li><span style="font-size:70px;">Cyberdyne 911</span></li>
			<li><span style="font-size:70px;">Under Construction</span></li>
		</ul>
	<div>
</body>
</html>
