<!doctype html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>View Reports</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
 
  <style>
  #feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }
  input{width:99.2%;}
  td{padding:0 0 0 0;}

.ui-selectmenu-button.ui-button {
    width: 6em;
}

  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

{% block content %}

{% if result %}
var reportArr = [
  {% for row in result %}
    ["{{row.reportId}}","{{row.incident}}","{{row.date}}","{{row.time}}","{{row.callerName}}","{{row.callerContact}}","{{row.location}}","{{row.whathappen}}","{{row.casualities}}", "{{row.dangers}}", "{{row.involvement}}", "{{row.typeOfEmergency}}", "{{row.severity}}"],
  {% endfor %}
  ];
{% endif %}

{% endblock %}




/*$( function() {
    $.widget( "custom.iconselectmenu", $.ui.selectmenu, {
      _renderItem: function( ul, item ) {
        var li = $( "<li>" ),
          wrapper = $( "<div>", { text: item.label } );
 
        if ( item.disabled ) {
          li.addClass( "ui-state-disabled" );
        }
 
        $( "<span>", {
          style: item.element.attr( "data-style" ),
          "class": "ui-icon " + item.element.attr( "data-class" )
        })
          .appendTo( wrapper );
 
        return li.append( wrapper ).appendTo( ul );
      }
    });



    $( "#level" )
      .iconselectmenu()
      .iconselectmenu( "menuWidget")
        .addClass( "ui-menu-icons avatar" );
} );*/

  function back(){
    window.location = "/system911/menu.html";
  }

  function addUser() {
  }

  function viewReport(id){
    var index=0;
    //alert(id);
    for(var i=0;i<reportArr.length;i++){
      if(reportArr[i][0]==id){
        //alert(id+" "+reportArr[i][0]);
        index =i;
        break;
      }
    }
    //alert(index);
    document.getElementById("inc").value = reportArr[index][1];
    document.getElementById("date").value = reportArr[index][2];
    document.getElementById("currentTime").value = reportArr[index][3];
    document.getElementById("cname").value = reportArr[index][4];
    document.getElementById("cContact").value = reportArr[index][5];
    document.getElementById("address").value = reportArr[index][6];
    document.getElementById("happen").value = reportArr[index][7];
    document.getElementById("cas").value = reportArr[index][8];
    document.getElementById("danger").value = reportArr[index][9];
    document.getElementById("involve").value = reportArr[index][10];
    document.getElementById("level").value = reportArr[index][12];

    //$( "#dialog-form" ).dialog();
    document.getElementById('dialog-form').style.display = 'block';
    dialog = $( "#dialog-form" ).dialog({
      autoOpen: true,
      height: 700,
      width:600,
      modal: true,
      buttons: {
        //"Update": addUser,
        "Close": function() {
          dialog.dialog( "close" );
        }
      },

    });

  }

  </script>
</head>
<body >

{% if result %}

	{% for row in result %}
	
	<table  border="1" style="border-collapse: collapse; width: 100%" cellspacing="0"> 
    <tr>
      <td style="width: 20%">Report Id: {% csrf_token %}</td><td style="width: 20%">{{row.reportId}}</td>
      <td style="width: 20%">Caller's Name</td><td style="width: 40%" colspan="2">{{row.callerName}}</textarea></td>
    </tr>

     <tr>
      <td style="width: 20%">Report Name </td><td colspan="3">{{row.incident}}</td>
    </tr>
  </table>
  <button onclick="viewReport({{row.reportId}})">View Report</button>
  
	{% endfor %}
{% endif %}










<div id="dialog-form" title="View Report" style="display:none">

  <div class="container">
    
   <table  border="1" style="border-collapse: collapse;" cellspacing="0"> 
      <tr>
        <input id="caseId" type="hidden"  name="cid" readonly="readonly">
        <td>Incident:{% csrf_token %} </td> <td colspan="3"> <input id="inc" type="text"  placeholder="Type of Incident" name="incident" readonly="readonly"></td>
      </tr>
       <tr>
        <td>Date Of Call: </td> <td><input style="width:98.5%" id="date" type="text"  name="rdate"  readonly="readonly"></td>
        <td>Time of Call: </td><td> <input style="width:94.4%" type="time" id="currentTime" name="rtime"  readonly="readonly"></td></td>
      </tr>

      <tr><td colspan="4">Caller Information:</td></tr>

      <tr><td>Caller's Name:</td><td colspan="3"><input id="cname" type="text" name="callerName" readonly="readonly"></td>
      </tr>

      <tr><td>Caller's Contact:</td><td colspan="3"><input id="cContact" type="text" name="callerContact" readonly="readonly"></td>
      </tr>

      <tr><td>Location/Address:</td><td colspan="3"><input id="address" type="text" name="location" readonly="readonly"></td>
      </tr>

      <tr><td>What Happened:</td><td colspan="3"><textarea id="happen" rows="9" name="happened" readonly="readonly" style="resize: none;padding:0 0 0 0; margin:0 0 0 0;" cols="50"></textarea></td>
      </tr>

      <tr><td>Casualties:</td><td colspan="3"><input id="cas" type="text" name="casualties" readonly="readonly"></td>
      </tr>

      <tr><td>Hazards/Dangers:</td><td colspan="3"><input id="danger" type="text" name="danger" readonly="readonly"></td>
      </tr>

      <tr><td>Caller’s involvement:</td><td colspan="3"><input id="involve" type="text" name="involve" readonly="readonly"></td>
      </tr>
    </table>

      <fieldset>
    <label for="people">Severity Level:</label>
      <select id="level" name="severity">
        <option value="1" >Level 1</option>
        <option value="2" ">Level 2</option>
        <option value="3">Level 3</option>
        <option value="4">Level 4</option>
        <option value="5">Level 5</option> 
      </select>

  </fieldset>

  </div>

</div>
</body> 
</html>